.MailPaper{
      width: 90%;
      height : 95%;
      padding: 25px;
      box-sizing: border-box;
      display: grid;
      grid-template-rows: 5% 8% 8% 1fr 6%;
      gap : 5px;
 
     
}

.MailModal{
    display: flex;
    justify-content: center;
    align-items: center;
}
